#titulo  
{
    color: aqua;
    /* border: 5px brown outset; */
    border-style: outset;
    border-color: blueviolet;
    border-radius: 3px;
    border-width: 2px;
}

p.texto
{
    color: orangered;
}

p.especial
{
    color: chartreuse;
}

div p
{
    color: blueviolet;
}

div h2, div h3
{
    color: brown;   
}

/** 
{
    font-size: 24px;
    color: black;
}*/

.color 
{
    color: #D4113E;
    /* border: 5px #369A83 solid; */

    border-style: solid;
    border-color: #1EF0C1;
    border-radius: 5px;
    border-width: 1rem;



    /* Tipos de borde
    dotted
    dashed
    solid
    double
    groove
    ridge
    inset
    outset
    none
    hiden */
}

#fondo
{
    background-color: rgb(53, 89, 91); 
    color: #1EF0C1;
    height: 400px;
    background: #D4113E url('images/image.jpeg') repeat-x  center bottom / 400px ;

}




/* Teoria de esto:

# hace referencia a una ID

. hace referencia a una clase 

*/