#titulo  
{
    color: aqua;
}

p.texto
{
    color: orangered;
}

p.especial
{
    color: chartreuse;
}

div p
{
    color: blueviolet;
}

div h2, div h3
{
    color: brown;   
}

* 
{
    font-size: 24px;
}

/* Teoria de esto:

# hace referencia a una ID

. hace referencia a una clase 

*/