#titulo  
{
    color: aqua;
    /* border: 5px brown outset; */
    border-style: outset;
    border-color: blueviolet;
    border-radius: 3px;
    border-width: 2em;
}

p.texto
{
    color: orangered;
}

p.especial
{
    color: chartreuse;
}

div p
{
    color: blueviolet;
}

div h2, div h3
{
    color: brown;   
}

/** 
{
    font-size: 24px;
    color: black;
}*/

.color 
{
    border: 5px brown dashed;
}

/* Teoria de esto:

# hace referencia a una ID

. hace referencia a una clase 

*/